body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0a0a0a;
  color: white;
  text-align: center;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at top, #1a1a1a, #000);
  z-index: -1;
}

header {
  padding: 40px;
}

h1 {
  font-size: 40px;
  color: #ff3c7e;
  text-shadow: 0 0 20px #ff3c7e;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: rgba(255,255,255,0.05);
  padding: 20px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.glow {
  border: 1px solid #ff3c7e;
  box-shadow: 0 0 20px #ff3c7e;
}

.highlight {
  border: 1px solid #00ffd5;
  box-shadow: 0 0 20px #00ffd5;
}

ul {
  text-align: left;
}

a {
  display: inline-block;
  padding: 10px 20px;
  background: #ff3c7e;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 10px;
}

footer {
  margin-top: 30px;
  padding: 20px;
  opacity: 0.6;
}
p {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.custom-text {
  text-align: center;
  font-size: 32px;
  margin: 40px 20px;
  font-weight: bold;
  color: #ff3c7e;

  text-shadow:
    0 0 5px #ff3c7e,
    0 0 10px #ff3c7e,
    0 0 20px #ff3c7e,
    0 0 40px #ff3c7e;

  animation: glow 20s infinite;
}

@keyframes glow {

  0% {
    text-shadow:
      0 0 5px #ff3c7e,
      0 0 10px #ff3c7e;
  }

  50% {
    text-shadow:
      0 0 10px #ff3c7e,
      0 0 20px #ff3c7e,
      0 0 40px #ff3c7e,
      0 0 60px #ff3c7e;
  }

  100% {
    text-shadow:
      0 0 5px #ff3c7e,
      0 0 10px #ff3c7e;
  }
}
.projects-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}
